# Node / Frontend
node_modules/
frontend/node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Build outputs
build/
dist/
frontend/build/
frontend/dist/


# IDE
.idea/
*.iml
.vscode/


# Env & Secrets (중요)
.env
.env.*
*.env
frontend/.env
frontend/.env.*


# Spring Boot Secrets (중요)
**/application.yml
**/application.yaml
**/application-*.yml
**/application-*.yaml


# OS
.DS_Store
Thumbs.dbnul
